-luci-app-cpufreq
luci-i18n-base-zh-cn
luci-i18n-firewall-zh-cn
luci-i18n-filetransfer-zh-cn
luci-i18n-turboacc-zh-cn
bash
curl
htop
nano
vim-full
luci-theme-argonv3
luci-app-usb-printer
luci-i18n-usb-printer-zh-cn
luci-app-ssr-plus
luci-i18n-ssr-plus-zh-cn
luci-app-nlbwmon
luci-i18n-nlbwmon-zh-cn


