-luci-app-cpufreq
luci-i18n-base-zh-cn
luci-app-firewall
luci-i18n-firewall-zh-cn
luci-app-filetransfer
luci-i18n-filetransfer-zh-cn
bash
curl
htop
nano
vim-full
luci-theme-argon
luci-app-usb-printer
luci-i18n-usb-printer-zh-cn
luci-app-passwall
luci-i18n-passwall-zh-cn
luci-app-ssr-plus
luci-app-openclash
luci-app-nlbwmon


